.b-table-sort-icon-left, .b-table-sort-icon-right {
	
	background-image: none !important;
}

[aria-sort="ascending"], [aria-sort="descending"] {
	color: red;
	font-style: italic;
}

:focus {
	outline: none !important;
}