$primary: #008b8b !default;
$secondary: #42b983 !default;
$success: #fcd7c7 !default;
$danger: #ff7f50 !default;

// $warning: $yellow !default;
// $info: $cyan !default;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;

body {
	background: #ebf1f4 !important;
}

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

a {
	color: $primary;
	&:hover {
		color: $secondary;
		text-decoration: none;
	}
}

.nav-item .nav-link.active {
	background-color: $info !important;
	&:hover {
		color: $primary;
	}
}

section {
	float: right;
	width: 82%;
}

label {
	font-size: x-small;
	font-style: italic;
	margin: 0;
}

.b-table-sort-icon-left, .b-table-sort-icon-right {
	background-image: none !important;
}

[aria-sort="ascending"], [aria-sort="descending"] {
	color: $danger;
	font-style: italic;
}

:focus {
	outline: none !important;
}

.router-link, .router-link-active {
	color: $primary;
	&:hover {
		color: $secondary;
		text-decoration: none;
	}
}

.not-green {
	color: $danger !important;
	text-decoration: none;
}

.main-card {
	height: 100%;
	margin: 20px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	border-radius: 0.25em !important;
	background-color: #FFF;
}

.sub-card {
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	width: auto;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	border-radius: 0.25em !important;
	background-color: #FFF;
}

.custom-hover {
	&:hover {
		cursor: pointer;
	}
}

.note-container {
	border: solid 1px #ced4da;
	border-radius: .25em;
}

.mid-cards {
	margin: 20px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	border-radius: 0.25em !important;
	min-height: 155px;
	max-height: 155px;
	border-top: solid 1px $primary;
}

.low-cards {
	margin: 20px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	border-radius: 0.25em !important;
	min-height: 200px;
	max-height: 200px;
	border-top: solid 1px $primary;
}

.no-border {
	border-top: none !important;
}

.primary-title {
	color: $primary !important;
}

.small-table {
	font-size: smaller;
}

.top-bar {
	margin-right: 5px;
	margin-left: 5px;
	min-height: 50px;
	a {
		color: white;
	}
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	border-radius: 0.25em !important;
	background-color: #ebf1f4;
}